.canvas {
  position: absolute;
  height: 100vh !important; //? If this canvas gets put into a smaller div then change the parent container to 100vh and this 100%
  //background: orange;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 100;
}
